
              <!--<form accept-charset="utf-8" action="/" class="js-search-submit" method="get">-->
              <!--</form>-->

                <h2 class="text-middle">
                    検索結果
                </h2>
                <% @bookreviews.each do |bookreview| %>
                    <a class="lis" href="/bookreview/<%= bookreview.id %>" title="<%= bookreview.title %>">
                          <div class="til" style="background-image: url(<%= bookreview.image_url %>);" title="<%= bookreview.title %>">
                          </div>
                    </a>
                          <%= bookreview.title %>
                          <%= bookreview.description %>
                <% end %>
                
                