<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
      <header class="header">
        <h1 class="title"><a href="/">BookReview</a></h1>
        <% if user_signed_in? %>
            <%= current_user.nickname %>
            <a href="/users/">ユーザー一覧</a>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        <% end %>
    </header>
    
    <%= yield %>
    
      <footer>
        <p>Bookレビュー©2020.All Rights Reserved.</p>
      </footer>
  </body>
</html>
